<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Web application</title>
    <link href="libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="libraries/bootstrap.css" rel="stylesheet"/>
    <link href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="styleshee" href="styles.css">
    
    <script src="libraries/angular.js"></script>
    <script src="libraries/jquery-3.1.1.js"></script>
    <script src="libraries/bootstrap.min.js"></script>
    <script src="libraries/less.js"></script>

    <script src="app.js"></script>
</head>

<body ng-controller="ctrl">
    
    <header class="panel-heading bg-primary">
        <div class="container">
            <div class = "logo">
                <a href="#" title="Логотип компании"><img src="img/logo.png" alt=""></a>
            </div>
                
            <div class="logIn">
                <button ng-show = "online.logged" class="btn btn-default" ng-click = "showForms(true, true, false)">Log in</button>
                
                <div ng-hide = "online.logged">
                   <span>Hello, {{online.name}}</span>
                   <button class="btn btn-default" ng-click = "logOut()">Log out</button> 
                </div>
            </div>
        </div>    
    </header>

    <div class='buttons'>
        <button class="btn btn-primary active" ng-click = "group(1)">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <span>  Phone</span>
        </button>
        <button class="btn btn-primary" ng-click = "group(2)">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span>  TV</span>
        </button>
        <button class="btn btn-primary" ng-click = "group(3)">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <span>  Fridge</span>
        </button>
    </div>
    
    <div class="container">        <!--views-->
        <ng-include src="'views/table.html'" ng-show="currentView == 'table'"></ng-include>
        <ng-include src="'views/info.html'" ng-show="currentView == 'info'"></ng-include>
        <ng-include src="'views/edit.html'" ng-show="currentView == 'edit'"></ng-include>
    </div>
        
                                    <!--forms-->
    <div class="background" ng-show = "bg" ng-click = "showForms(false, false, false)"></div>
    
    <!--logForm-->               
    <form class = "logForm panel panel-primary" name="logForm" novalidate ng-show = "log">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control" ng-model="user.name" placeholder="Your name" ng-focus="wrongName=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="wrongName">
                    wrong name
                </div>
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input name="userPass" type="password" class="form-control"  ng-model="user.pass" placeholder="Your password" ng-focus="wrongPass=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="wrongPass">
                    wrong password
                </div>
            </div>
                
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="logForm.$invalid" ng-show = "log" ng-click = "logIn()">Ok</button>
            
            <button type="submit" class="btn btn-warning btn-block" ng-click = "showForms(true, false, true)">Registration</button>
        </div>
    </form>
    
    <!--regForm-->
    <form class = "regForm panel panel-primary" name="regForm" novalidate ng-submit="addNewUser(newUser)" ng-show = "reg">
        <div class="well">
            <div class="form-group">
                <label>Name:</label>
                <input name="userName" type="text" class="form-control" ng-model="newUser.name" placeholder="Your name" ng-focus="existingName=false" required>
                    
                <!--for error-->
                <div class="error" ng-show="existingName">
                    the name exist
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input name="userEmail" type="email" class="form-control"  ng-model="newUser.email" placeholder="name@address.com" required>
                    
                <!--for error-->
                <div class="error" ng-show="regForm.userEmail.$invalid && regForm.userEmail.$dirty">
                    {{getError(regForm.userEmail.$error)}}
                </div>
            </div>
    
            <div class="form-group">
                <label>Password:</label>
                <input name="userPass1" type="password" class="form-control"  ng-model="newUser.pass" required>
                    
                <!--for error-->
                <div class="error" ng-show="regForm.userPass1.$invalid && regForm.userPass1.$dirty">
                    {{getError(regForm.userPass1.$error)}}
                </div>
            </div>
            <div class="form-group">
                <label>Repeat password:</label>
                <input name="userPass2" type="password" class="form-control"  ng-model="newUser2.pass" ng-pattern="newUser.pass" required>
                    
                <!--for error-->
                <div class="error" ng-show="regForm.userPass2.$invalid && regForm.userPass2.$dirty">
                    {{getError(regForm.userPass2.$error, true)}}
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input name="agreed" type="checkbox" ng-model="newUser2.agreed" required>I agree to the terms
                </label>
            </div>
                
            <a class="btn btn-primary btn-block" ng-disabled= "regForm.$invalid" ng-click = "addNewUser(newUser)">Sign up</a>
        </div>
    </form>
    
    
    <script>
        //for add and remove class - active
        $(function() {
            $(".buttons button").click(function() {
                $(".buttons button").removeClass("active");         
                $(this).toggleClass("active");
            })
        });
    </script>
    
</body>
</html>
